/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #333; /* Change the color as needed */
    width: 84.1rem;
    padding: 4.2rem 2.4rem;
    display: flex;
    justify-content: space-between;
    height: 5px;
  }
  ul{
    display: flex;
    gap: 3.2rem;
}
  /* Links inside the navbar */
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    margin-top: 5px;
    padding: 14px 20px; 
    padding-top: 5px;
    text-decoration: none;
  }
  
  /* On hover, the links will change color */
  .navbar a:hover {
    background-color: #ddd; /* Change the hover color as needed */
    color: black;
  }
  
  /* Active/current link */
  .navbar a.active {
    background-color: #555; /* Change the active/current color as needed */
    color: white;
  }
  
  /* Responsive navigation menu */
  @media screen and (max-width: 600px) {
    .navbar a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  


